.homepage-card-conainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.middle-deatils-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.middle-deatils-container-two-tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}